dubbo-registry.properties
target/
classes/
.settings/
/META-INF/
!/META-INF/spring.handlers
!/META-INF/spring.schemas
.idea
.project
.classpath
.mymetadata
*.iml
db-connection.properties
db-connection-develop.properties
path.properties
/target
/null/
rebel.xml
rebel-remote.xml
.DS_Store
/test-output/
/.tern-project
*.bak
.tgitconfig
tms-view.min.js
logback-test.xml
**/webapp/.tern-project
spy.log
rest-server.properties
**/webapp/orgarchitecture
**/webapp/WEB-INF/lib
**/webapp/static_cache
server-conf-*.properties
!server-conf-sample.properties
Thumbs.db
*.bcmap
pom.xml.versionsBackup


#这个是wechat、vue、webpack用的
**/npm-debug.log
**/.DS_Store
**/h5/mobile/dist
**/static/
npm-debug.log
**/test/unit/coverage/
**/test/e2e/reports/
selenium-debug.log
stats.json
#脑图的一个本地编译环境 by yanzheng
cp-tms-webapp/src/main/webapp/architecture/kity/

#忽略所有压缩的文件
**/release/
**/common/css/release.css
**/common/css/release.min.css
cp-tms-webapp/src/main/webapp/h5/mobile/dist/static/js/app.js
cp-tms-webapp/src/main/webapp/h5/mobile/dist/static/js/app.js.map
cp-tms-webapp/src/main/webapp/h5/mobile/dist/static/js/manifest.js.map
cp-tms-webapp/src/main/webapp/h5/mobile-approval/release/templates.js

#cp-tms-webapp/src/main/webapp/admin/workflow/controller/go-debug.js

