dubbo-registry.properties
target/
**/target/
.settings/
/META-INF/
!/META-INF/spring.handlers
!/META-INF/spring.schemas
.idea
.idea/
.project
.classpath
.mymetadata
*.iml
db-connection.properties
db-connection-develop.properties
path.properties
/null/
rebel.xml
rebel-remote.xml
.DS_Store
/test-output/
/.tern-project
*.bak
.tgitconfig
tms-view.min.js
logback-test.xml
**/webapp/.tern-project
spy.log
rest-server.properties
**/webapp/orgarchitecture
**/webapp/WEB-INF/lib
**/webapp/static_cache
server-conf-*.properties
!server-conf-sample.properties
Thumbs.db
*.bcmap
pom.xml.versionsBackup

#排除node_modules，但是有1个例外：
#是已经在git中了，就先不例外了（但是.cache经常会有变化，还是ignore掉）。等node_modules彻底移除（或者用NODE_PATH，或者ignore后
#用package-lock.json来锁定每个人的node_modules）后，就可以把所有的node_modules都ignore了。
!cp-tms-webapp/src/main/node_modules/
cp-tms-web2-root/src/main/webapp/career-plus/node_modules/
cp-tms-webapp/src/main/webapp/architecture/lib/node_modules/

cp-tms-webapp/src/main/node_modules/.cache/
cp-tms-webapp/src/main/node_modules/.bin/

#这个是wechat、vue、webpack用的
npm-debug.log
h5/mobile/dist
**/static/
**/test/unit/coverage/
**/test/e2e/reports/
selenium-debug.log
stats.json
#脑图的一个本地编译环境 by yanzheng
cp-tms-webapp/src/main/webapp/architecture/kity/

#忽略所有压缩的文件
**/release/
**/common/css/release.css
**/common/css/release.min.css
cp-tms-webapp/src/main/webapp/h5/mobile/dist/static/js/app.js
cp-tms-webapp/src/main/webapp/h5/mobile/dist/static/js/app.js.map
cp-tms-webapp/src/main/webapp/h5/mobile/dist/static/js/manifest.js.map
cp-tms-webapp/src/main/webapp/h5/mobile-approval/release/templates.js

#cp-tms-webapp/src/main/webapp/admin/workflow/controller/go-debug.js


cp-tms-web2-root/**/v2/

cp-tms-webapp/src/main/webapp/dist
cp-tms-webapp/src/main/webapp/common/css/global.css
cp-tms-webapp/src/main/webapp/common/js/lib/easyui/themes/metro/**/pagination.css
cp-tms-webapp/src/main/webapp/common/js/lib/easyui/themes/metro/**/searchbox.css
